<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

  
<head>
  <title>Drinkkikirjasto</title>
</head>
<body>
  <h2>Drinkkilista</h2>
  
   <ul>
        <li th:each="Annos : ${drinkit}">
                <span th:text="${Annos.nimi}">Drinkki</span>
       </li>
        </ul>
  

  <ul>
    <li>
      <a href="/luodrinkki">Luo uusi drinkki</a>
    </li>
    <li>
      
      <a href="/raakaaineet">Tarkastele ja lisää aineksiaaa</a>
    </li>
  </ul>
</html>
    

        
       
        
       