<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">


    <head>
        <title>Raaka-aineet</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>Raaka-aineet:</div>
        
        <ul>
        <li th:each="RaakaAine : ${raakaaineet}">
                <span th:text="${RaakaAine.nimi}">RaakaAine</span>
       </li>
        </ul>
         <ul>
             <li><a href="/drinkit">Takaisin drinkkilistaaan</a></li>
        </ul>
    </body>
</html>
